/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
background-color: rgb(10, 1, 134);
height: 100vh;
}
.container{
    width: 400px;
    padding: 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #222;
}
.dice{
    font-size:70px;
    display: flex;
    gap: 30px;
    align-items: center;
    color: blue;
}
p{
    font-size: 16px;
    margin: 30px 0;
    font-weight:bold;
}
button{
    background-color: blue;
    outline: 0;
    border: 0;
    padding: 15px 10px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
.sh{
    animation: sh 0.5s infinite;
}
@keyframes sh{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(8deg);
    }
} */